.classOrder{
    margin: 20px;
  }
  
  .order-header p {
    color: rgb(138, 138, 138);
  }
  
  .search-product{
    margin: 0 40px;
    padding: 40px 20px;
  }
  
  .input-search input {
    width: 100% !important;
    border-radius: 20px !important;
  }
  
  .ant-input-group-addon button {
    display: none;
  }
  .order-body {
    margin: 0 40px;
    padding: 40px 20px;
    background-color: whitesmoke;
  }
  
  .input-search{
    padding: 40px 20px;
  }

  .btn-next button{
    padding: 8px 16px;
    border-color: #ee4d2d;
    border-radius: 5px;
    outline: none;
    background: #ee4d2d;
    color: white;
    font-size: medium;
  }

  .footer-order {
    margin: 20px 0;
    margin-left: 50px;

  }

  .link-order{
    color: rgb(51, 51, 187) !important ;
    text-decoration: underline;
  }