* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.product-detail {
    margin-top: 115px;
    padding: 10px;
    margin-bottom: 45px;
}

.product-detail-left {
    padding: 10px;
}
.product-detail-listimg{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.product-detail-title {
    width: 100%;
}

.product-detail-title h2 {
    font-size: 20px;
}

.product-detail-title h2::before {
    content: 'Sale';
    background-color: #D0011B;
    color: white;
    padding: 0 3px;
    font-size: 13px;
}

.product-detail-rank {
    display: flex;
    margin-bottom: 10px;
}

.product-detail-rank-item {
    font-size: 14px;
    padding: 5px;
    margin: 0 5px;
    border-right: 1px solid #7d7c7c;
}

.product-detail-rank-item  span i{
    font-size: 14px;
    color: #D0011B;
}
.product-detail-item1::before {
    content: '4,5';
    color: #D0011B;
    font-weight: bold;
}
.product-detail-item2::before {
    content: '73 ';
    font-weight: bold;
}
.product-detail-rank-item3 {
    padding: 5px;
    margin: 0 5px;
    font-size: 14px;
}
.product-detail-rank-item3 span::before{
    content: '233 ';
    font-weight: bold;

}
.product-detail-price span {
    padding-left: 30px;
    color: red;
    font-size: 35px;
    padding: 3px;
}

.product-detail-sale {
    margin-top: 10px;
}

.product-detail-price .ant-descriptions-item-label span::after {
    content: 'đ';
    font-size: 25px;
    text-decoration: underline;

}

.prodtuct-detail-address .fa-truck-moving{
    font-size: 13px;
}
.product-detail-right {
    padding: 15px;
}
.product-detail-right .ant-descriptions-item-label{
    padding: 12px 18px;
}
.product-detail-right .ant-descriptions-item{
    padding:  0 0 5px;
}
.prodtuct-detail-color {
    margin: 20px;
}

.prodtuct-detail-stroge {
    margin: 20px;
}

.product-detail-carousel-card img {
    width: 95%;
    height: 380px;

}

.prodtuct-detail-address {
    margin: 20px;
}

.product-detail-quantity {
    margin: 20px;
}

.product-detail-quantity input {
    width: 43px;
    margin: 2px 3px;
    height: 34px;
    outline: 0;
    border: 1px solid #7d7c7c;
    text-align: center;
}

.product-detail-footer span {
    font-size: 18px;
    line-height: 30px;
    margin-right: 5px;
}

.product-detail-footer {
    display: flex;
    justify-content: space-between;
}

.product-detail-footer a .fa-brands,
.fa-solid {
    font-size: 25px;
    margin: 0 2px;
}

.product-detail-footer a .fa-facebook {
    color: blue;
}

.product-detail-footer a .fa-facebook-messenger {
    color: rgb(3, 114, 193);
}

.product-detail-footer a .fa-twitter {
    color: rgb(3, 114, 193);
}

.product-detail-footer a .fa-pinterest {
    color: red;
}

.fa-heart {
    color: aqua
}

.product-detail-add {
    margin: 0px 20px;
}

.pd-add-gh {
    width: 200px;
    padding: 5px;
    height: 40px;
}

.pd-add-gh i {
    font-size: 20px;
}

.pd-add-mh {
    margin-left: 20px;
    height: 38px;
}