.order-history {
    width: 100%;
}

.ant-menu-horizontal li {
    width: 16%;
    text-align: center;
}

.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item {
    padding: 0
}

.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-selected:after {
    border-bottom: 2px solid red;
}

.ant-menu-horizontal {
    justify-content: space-between;
}

/* .ant-menu-item-selected {
    border-bottom: 2px solid red;
} */