.home_container {
  margin-top: 142px;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
  background-color: #f5f5f5;
}

.home_body {
  background-color: #fff;
}

.home_banner {
  min-height: 235px;
}

.home_banner,
.home_navbar {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-around;
}

.home_banner-left {
  position: relative;
  width: 70%;
  margin-right: 8px;
  height: 100%;
  cursor: pointer;
}

.home_banner-left:hover .home_banner-left-btn,
.home_banner-left:hover .home_banner-right-btn {
  visibility: visible;
}

.home_banner-left-btn,
.home_banner-right-btn {
  
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  border: none;
  outline: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.18);
  padding: 12px 10px;
  font-size: 20px;
  visibility: hidden;
  transition: 0.25s;
}

.home_banner-left-btn:hover,
.home_banner-right-btn:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.32);
}

.home_banner-left-btn {
  left: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.home_banner-right-btn {
  right: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.home_banner-left-img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.ant-carousel .slick-dots li {
  width: 8px;
  height: 8px;
  margin-right: 3px;
  margin-left: 3px;
  text-align: center;
  z-index: 2;
}

.ant-carousel .slick-dots li.slick-active button {
  background-color: #fb5430;
}

.ant-carousel .slick-dots li button {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.ant-carousel .slick-dots li.slick-active {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 3px;
  margin-right: 3px;
  background-color: #fb5430;
}

.home_banner-right {
  width: 30%;
}

.home_banner-right img {
  width: 100%;
  height: 115px;
  border-radius: 4px;
}

.home_banner-right img:first-child {
  margin-bottom: 8px;
}

.home_navbar {
  width: 1200px;
  margin: 0 auto;
  min-height: 108px;
}

.home_navbar-item {
  text-align: center;
  margin: 0 2px;
  width: 20%;
}

.home_navbar-item:hover {
  transform: translateY(-1px);
  cursor: pointer;
}

.home_navbar-item-img img {
  width: 70px;
  height: 70px;
  border-radius: 4px;
}

.home_navbar-item p {
  word-wrap: break-word;
}

.home_product {
  margin-top: 20px;
}

.home_product-header {
  position: sticky;
  top: 113px;
  z-index: 2;
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #fff;
  width: 1200px;
  margin: 0 auto;
  border-radius: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.home_product-heading {
  height: 100%;
  padding: 15px 46px;
  cursor: pointer;
}

.home_product-heading h2 {
  color: rgb(238, 77, 45);
  margin-bottom: 0;
  font-size: 16px;
}

.tab-active {
  border-bottom: 5px solid rgb(238, 77, 45);
}

.home_product-img {
  padding: 15px 46px;
  height: 100%;
  cursor: pointer;
}

.home_product-img img {
  display: block;
  width: 160px;
}

.home_product-list-product {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}

.home_product-item-link {
  position: relative;
  background-color: #fff;
  width: 19%;
  min-height: 270px;
  margin: 6px;
  text-align: center;
  border: 1px solid transparent;
}

.home_product-item-link:hover .home_product-item-box {
  visibility: visible;
}

.home_product-item-link:hover {
  padding-bottom: 9px;
  display: block;
  border-color: #ee4d2d;
  cursor: pointer;
}

.home_product-item img {
  width: 100%;
  height: 188px;
  margin-bottom: 8px;
  object-fit: cover;
  display: block;
}

.home_product-item h2 {
  word-wrap: break-word;
  max-width: 90%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0;
  height: 40px;
  text-align: left;
  padding: 0 8px;
}

.home_product-item-text {
  text-align: left;
  padding: 0 8px;
}

.home_product-item span {
  margin-right: 4px;
  color: #ee4d2d;
}

.home_product-item-box {
  position: absolute;
  top: 100%;
  left: -1px;
  width: 100%;
  color: #fff;
  z-index: 1;
  padding: 6px;
  background-color: #ee4d2d;
  border: 1px solid #ee4d2d;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  visibility: hidden;
}

.home_product-item-favorite {
  position: absolute;
  top: 12px;
  left: -5px;
  background-color: #fb5430;
  line-height: 16px;
  padding: 0 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.home_product-item-favorite::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  border-top: 3px solid #fb5430;
  border-left: 3px solid transparent;
}

.home_product-item-favorite i,
.home_product-item-favorite span {
  color: white;
}

.home_product-item-sale {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 36px;
  background-color: rgba(255, 216, 64, 0.95);
  text-align: center;
  display: block;
}

.home_product-item-sale::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  border-width: 0 20px 6px;
  border-style: solid;
  border-color: transparent rgba(255, 216, 64, 0.95) transparent
    rgba(255, 216, 64, 0.95);
}

.home_product-item-sale p {
  margin: 0;
}

.home_product-item-sale-percent {
  position: relative;
  top: -1px;
  color: #fb5430;
  font-weight: 600;
}

.home_product-item-sale-label {
  position: relative;
  top: -8px;
  color: white;
  font-weight: 600;
}

.home_product-seemore-btn {
  text-align: center;
}

.home_product-seemore-btn button {
  outline: 0;
  background: #fff;
  color: #555;
  border: 1px solid rgba(0, 0, 0, 0.09);
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 3%);
  padding: 8px 20px;
  margin: 20px auto;
  min-width: 348px;
}

.home_product-seemore-btn button:hover {
  background: rgba(0, 0, 0, 0.02);
  cursor: pointer;
}

.ant-pagination {
  text-align: center;
  padding: 20px 0;
  margin: 0 !important;
}

.ant-pagination-item {
  background-color: transparent;
  border: none;
}

.ant-pagination-item a:hover {
  color: #ee4d2d;
}

.ant-pagination-item-active {
  border: none;
  background-color: #ee4d2d;
}

.ant-pagination-item-active a {
  color: white !important;
}

.ant-pagination-prev,
.ant-pagination-next {
  border: none;
  background-color: transparent;
}

.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
  border: none;
  background-color: transparent;
}

.ant-carousel .slick-slider {
  z-index: 1;
}

.user_home-all-container {
  position: relative;
  width: 1200px;
  height: 56px;
  margin: auto;
  text-align: center;
  margin-bottom: 12px;
}

.user_home-all-container::after {
  content: "";
  position: absolute;
  border-top: 1px dotted rgba(0,0,0,.26);
  width: 100%;
  left: 0;
  top: 50%;
  margin: 0;
}

.user_home-all-btn {
  padding: 18px 24px;
  background-color: #ee4d2d;
  color: white;
  border: none;
  outline: none;
  font-size: 20px;
  z-index: 1;
  border-radius: 6px;
  line-height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  display: inline-block;
}

/* Responsive */
/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .home_banner, .home_navbar {
    width: 100%;
  }

  .home_banner-left {
    width: 100%;
  }

  .home_navbar {
    padding: 0 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .home_navbar-item {
    width: 19%;
  }

  .home_product-list-product {
    justify-content: space-between;
  }

  .home_product-item-link {
    width: 31%;
  }

  .user_home-all-container {
    width: 100%;
  }
    
}

/* Phone */
@media only screen and (max-width: 767px) {
  .home_banner, .home_navbar {
    width: 100%;
  }

  .home_banner-left {
    width: 100%;
  }

  .home_navbar {
    padding: 0 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .home_navbar-item {
    width: 18%;
  }

  .home_product-list-product {
    max-width: 100%;
    padding: 0 12px;
    justify-content: space-between;
  }

  .home_product-item-link {
    width: 46%;
  }

  .home_product-header {
    width: 95%;
  }

  .user_home-all-container {
    width: 100%;
  }

  .home_product-seemore-btn button {
    padding: 16px 36px;
    min-width: 0;
  }

  .cart-quanlity input, button {
    width: unset;
    height: unset;
  }
}